<div class="row">
    <div class="col-lg-12">
        <h2>Thing to do</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <%= for todo <- @todos do %>
                <tr>
                    <td><%= todo.title %></td>
                    <td><%= status(todo) %></td>
                    <td>Edit Delete</td>
                </tr>
            <% end %>
        </table>
    </div>
</div>
